{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{{success_msg}}}</strong> Catch you later！
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Something Wrong!</strong> {{{warning_msg}}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{{this.message}}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{{error_msg}}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if allQuery}}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <strong>{{{allQuery}}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
